* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, rgb(88, 87, 92), rgb(51, 113, 105));
}

.container {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

.heading {
    text-align: center;
    margin-top: 20vh;
    font-size: 10vh;
    font-family: 'Orbitron', sans-serif;
    color: rgb(180, 218, 193);
}

.timer {
    display: inline-flex;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
    color: rgb(189, 173, 151);
    margin-top: 10vh;
    font-size: 10vh;
    margin-bottom: 10vh;
    margin-top: 10vh;

}

#start {
    font-family: 'Orbitron', sans-serif;
    background-color: rgb(97, 148, 131);
    font-size: 5vh;
    margin-left: 20px;
    padding: 5px;
}

#pause {
    font-family: 'Orbitron', sans-serif;
    background-color: rgb(97, 148, 131);
    font-size: 5vh;
    margin-left: 20px;
    padding: 5px;
}

#reset {
    font-family: 'Orbitron', sans-serif;
    background-color: rgb(97, 148, 131);
    font-size: 5vh;
    margin-left: 20px;
    padding: 5px;
    display: none;
}

#lapBtn {
    font-family: 'Orbitron', sans-serif;
    background-color: rgb(97, 148, 131);
    font-size: 5vh;
    margin-left: 20px;
    padding: 5px;
    display: none;
}

#lapRecord {
    color: rgb(189, 173, 151);
    display: inline block;
    margin-top: 2vh;
    font-size: 5vh;
    margin-bottom: 10vh;
    font-family: 'Orbitron', sans-serif;
}